---
import Layout from "@layouts/Layout.astro";
---

<Layout title="PokemonAPI | About this Project">
    <section>
        <p>I don't know what I write in this section, but for this moment I will put this text.</p>
    </section>
</Layout>