---
import { Image } from 'astro:assets';
import { ClientRouter } from 'astro:transitions';

import '@styles/global.css';
// Supports weights 100-900
import '@fontsource-variable/roboto';

import Logo from '@assets/logo.png';
import NavBar from '@components/NavBar.astro';

interface Props {
  title?: string;
  description?: string;
  logo?: string;
}

const { 
	title = 'PokemonAPI',
	description = 'Explore the original 151 Pokémon from the iconic first generation. Discover their stats, evolutions, and nostalgic artwork that started it all.',
	logo = 'logo.png'
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<ClientRouter/>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{ title }</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={ description }>
		<meta name="keywords" content="Pokemons, Pokemon, PokemonAPI, Astro, Solid, Static Page">
		<meta name="author" content="Pablo A. Hechavarria">
		
		<meta property="og:title" content={ title }>
		<meta property="og:description" content={ description }>
		<meta property="og:image" content={ logo }>
		<meta property="og:type" content="website">
	</head>
	<body class="min-h-screen bg-linear-to-b from-indigo-950 to-purple-900 text-white flex flex-col justify-between">
		<header class="py-3">
			<Image src={ Logo } alt="PokemonAPI Logo" class="mx-auto"/>

			{
				Astro.url.pathname.includes('pokemon/')
					? null
					: <NavBar/>
			}
		</header>

		<main class="lg:w-xl mx-auto">
			<slot />
		</main>

		<footer>
			<h2 class="text-center py-3">Created by Pablo A.</h2>
		</footer>
	</body>
</html>

<style>
	body {
		font-family: 'Roboto Variable', sans-serif;
	}
</style>